@()

<!DOCTYPE html>
<html>
  <head>
    <title>Hello Group</title>
  </head>
  <body>
    <form method="POST">
      <div>
        <label>
          Group name
          <input type="text" name="name" placeholder="Enter the groups name here" />
        </label>
      </div>
      <div>
        <label>
          Group description
          <textarea name="description" placeholder="Enter description here"></textarea>
        </label>
      </div>
      <div>
        <input type="submit" text="Create" name="submit"/>
      </div>
    </form>
  </body>
</html>